{% if section.settings.custom-section-img %}
    {% capture bg-img %}
        {{ section.settings.custom-section-img }}
    {% endcapture %}
{% endif %}
{% capture custom-section-txt-color %}
    {{ section.settings.custom-section-text-color }}
{% endcapture %}
{% capture custom-section-text %}
    {{section.settings.custom-section-text}}
{% endcapture %}

<div class="custom-section">
    {{custom-section-text}}
</div>

{% style %}
  .custom-section{
    background-image: url('{{bgImg}}'');
    background-size: cover;
    color: {{custom-section-txt-color}};
  }
{% endstyle %}

{% schema %}
  {
    "name": "Custom Section",
    "class": "custom-section",
    "settings": [
        {
            "type": "image_picker",
            "id": "custom-section-img",
            "label": "Custom Section Image"
        },
        {
            "type": "color",
            "id": "custom-section-text-color",
            "label": "Custom Section Text Color"
        },
        {
            "type": "richtext",
            "id": "custom-section-text",
            "label": "Custom Section Writing"
        }
    ],
    "presets": [
        {
            "category": "Custom Section",
            "name": "Custom Section"
        }
    ]
  }
{% endschema %}